/* Fonts */



//PT_Sans
@font-face {
  font-family: 'opensans-light';
       src: url('../fonts/OpenSans/OpenSans-Light.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'opensans-regular';
       src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'opensans-medium';
       src: url('../fonts/OpenSans/OpenSans-Semibold.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
  font-family: 'opensans-bold';
       src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'); /* Pretty Modern Browsers */
}
