
//- Start Template JS
script(src="/vendors/js/vendor.bundle.base.js")
script(src="/vendors/js/vendor.bundle.addons.js")

//- Repeater Javascript
script(src="/js/repeater.js")



script(src="/js/off-canvas.js")
script(src="/js/misc.js")

script(src="/js/dashboard.js")

//- TinyMCE
//- script(src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=qu6470jyiaozclp0urd9pfnc5rq7jyy1t3c0c4etx59ayckc")
        //- <script>tinymce.init({ selector:'textarea' });</script>

<!-- Load React. -->
<!-- Note: when deploying, replace "development.js" with "production.min.js". -->
//- script(src="https://unpkg.com/react@16/umd/react.development.js", crossorigin)
//- script(src="https://unpkg.com/react-dom@16/umd/react-dom.development.js", crossorigin)

//- //- Main React File
//- script(src="/js/main.js")