extends ../../layout.pug

block panel
    form.content-wrapper(method="post", action="/hotel/submit")
        .page-header
            h2.page-title HOTEL / #[span Add New Interest]
        .row
            .col#interest_add
                ul.nav.nav-tabs#myTab(role="tablist")
                    li.nav-item
                        a.nav-link.active#home-tab(data-toggle="tab", href="#home", role="tab", aria-controls="home", aria-selected="true") Hotel Details
                    //- li.nav-item
                    //-     a.nav-link#rooms-tab(data-toggle="tab" href="#rooms" role="tab" aria-controls="rooms" aria-selected="false") Rooms
                    li.nav-item
                        a.nav-link#business-tab(data-toggle="tab" href="#business" role="tab" aria-controls="business" aria-selected="false") Business
                    li.nav-item
                        a.nav-link#english-tab(data-toggle="tab", href="#english", role="tab", aria-controls="english", aria-selected="false") English
                    li.nav-item
                        a.nav-link#spanish-tab(data-toggle="tab" href="#spanish" role="tab" aria-controls="spanish" aria-selected="false") Spanish


                .tab-content#myTabContent

                    //- Hotel Details -->
                    .tab-pane.fade.show.active#home(role="tabpanel" aria-labelledby="home-tab")

                        //- Hotel Name
                        .form-group
                            p
                                label(for="name") #[strong Hotel Name]
                            input.form-control(name="name", type="text")

                        //- SAMS HOTEL ID
                        .form-group
                            p
                                label(for="name") #[strong SAMS ID]
                            small.form-text
                                em Numerical identifier in SAMS for this hotel
                            input.form-control(name="sams_id", type="number", required)

                        //- MANUALLY SETTING ACTIVE HOTELS
                        .form-group
                            p
                                strong Active Hotel
                            .checkbox
                                label(for="activeHotel")
                                    input#activeHotel(type="checkbox", name="activeHotel")
                                    span Hotel is Active

                        //- RIBBON
                        p
                            strong Ribbon
                        .form-group
                            .form-check
                                input.form-check-input(type="radio", name="ribbon", id="field_none", value="none")
                                label.form-check-label(for="field_none") None

                            .form-check
                                input.form-check-input(type="radio", name="ribbon", id="field_top_rated", value="top_rated")
                                label.form-check-label(for="field_top_rated") Top Rated

                            .form-check
                                input.form-check-input(type="radio", name="ribbon", id="field_popular", value="popular")
                                label.form-check-label(for="field_popular") Popular

                            .form-check
                                input.form-check-input(type="radio", name="ribbon", id="field_great_value", value="great_value")
                                label.form-check-label(for="field_great_value") Great Value

                            .form-check
                                input.form-check-input(type="radio", name="ribbon", id="field_pet_friendly", value="pet_friendly")
                                label.form-check-label(for="field_pet_friendly") Pet Friendly

                        //- ADDRESS -->
                        .form-group
                            p
                                label(for="address") #[strong Address]
                            small.form-text Example format: #[em 1600 Amphitheatre Parkway, Mountain View, CA]

                            input#address.form-control(name="address", type="text", required)

                        //- PHONE NUMBER -->
                        .form-group
                            label(for="phone_number") #[strong Phone Number]
                            small.form-text Example format: #[em 850-867-5309]

                            input#phone_number.form-control(name="phone_number", type="text")

                        //- DESTINATION -->
                        .form-group
                            label(for="destination") #[strong Destination]
                            small.form-text Where is this #[strong Hotel] located?

                            div.input-group
                                select#destination.custom-select(name="destination")
                                    option(value="") --- Select Destination ---
                                    option(value="ANAHEIM") ANAHEIM
                                    option(value="BRANSON") BRANSON
                                    option(value="CANCUN") CANCUN
                                    option(value="COCOA BEACH") COCOA BEACH
                                    option(value="DAYTONA BEACH") DAYTONA BEACH
                                    option(value="GATLINBURG") GATLINBURG
                                    option(value="HOUSTON") HOUSTON
                                    option(value="LAS VEGAS") LAS VEGAS
                                    option(value="MESA") MESA
                                    option(value="MIAMI") MIAMI
                                    option(value="MYRTLE BEACH") MYRTLE BEACH
                                    option(value="NEW TORK CITY") NEW TORK CITY
                                    option(value="OCOEE") OCOEE
                                    option(value="ORLANDO") ORLANDO
                                    option(value="ORLANDO SOUTH") ORLANDO SOUTH
                                    option(value="PARK CITY") PARK CITY
                                    option(value="PORT CANAVERAL") PORT CANAVERAL
                                    option(value="PORT EVERGLADES") PORT EVERGLADES
                                    option(value="TEST LOCATION") TEST LOCATION
                                    option(value="TUNICA") TUNICA
                                    option(value="WILLIAMSBURG") WILLIAMSBURG
                                    option(value="UNCATERGORIZED") UNCATERGORIZED

                        //- LOCATION -->
                        .form-group
                            label(for="location") #[strong Location]
                            small.form-text Example format: #[em Disney Springs Area]

                            input#location.form-control(name="location", type="text", value="Disney Springs Area")

                        //- STAR RATING -->
                        .form-group
                            label(for="star_rating") #[strong Star Rating]
                            small.form-text
                                em Enter numerical star rating by intervals of .5
                            .input-group
                                input#address.form-control(name="star_rating", type="number", required, step=".5", min="0", max="5")
                                .input-group-append
                                    span.input-group-text Stars


                        //- EXPEDIA -->
                        .form-group
                            label(for="expedia_link") #[strong Expedia Link]
                            input.form-control(name="expedia_link",type="text")

                        //- HOTEL AMENITIES
                        p
                            strong Hotel Amenities
                        .container-fluid
                            .row
                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_flat_screen_tv", value="ha_flat_screen_tv")
                                    label.form-check-label(for="ha_flat_screen_tv") Flat Screen TV

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_free_wifi", value="ha_free_wifi")
                                    label.form-check-label(for="ha_free_wifi") Free Wifi

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_pool", value="ha_pool")
                                    label.form-check-label(for="ha_pool") Pool

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_breakfast", value="ha_breakfast")
                                    label.form-check-label(for="ha_breakfast") Breakfast

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_pet_friendly", value="ha_pet_friendly")
                                    label.form-check-label(for="ha_pet_friendly") Pet Friendly

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_accessibility", value="ha_accessibility")
                                    label.form-check-label(for="ha_accessibility") Accessibility

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_self-parking", value="ha_self-parking")
                                    label.form-check-label(for="ha_self-parking") Self-Parking

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_bar", value="ha_bar")
                                    label.form-check-label(for="ha_bar") Bar/Lounge

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_spa", value="ha_spa")
                                    label.form-check-label(for="ha_spa") Spa

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_restaurant", value="ha_restaurant")
                                    label.form-check-label(for="ha_restaurant") Restaurant

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_park_shuttle", value="ha_park_shuttle")
                                    label.form-check-label(for="ha_park_shuttle") Theme Park Shuttle

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_gym", value="ha_gym")
                                    label.form-check-label(for="ha_gym") ATM

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_business_center", value="ha_business_center")
                                    label.form-check-label(for="ha_business_center") Business Center

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_conference_space", value="ha_conference_space")
                                    label.form-check-label(for="ha_conference_space") Conference Space

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_room_service", value="ha_room_service")
                                    label.form-check-label(for="ha_room_service") Room Service

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_picnic_area", value="ha_picnic_area")
                                    label.form-check-label(for="ha_picnic_area") Picnic Area

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_elevator", value="ha_elevator")
                                    label.form-check-label(for="ha_elevator") Elevator

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_barbecue_grill", value="ha_barbecue_grill")
                                    label.form-check-label(for="ha_barbecue_grill") Barbecue Grill(s)

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_laundry_facilities", value="ha_laundry_facilities")
                                    label.form-check-label(for="ha_laundry_facilities") Laundry Facilities

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_arcade", value="ha_arcade")
                                    label.form-check-label(for="ha_arcade") Arcade/Game Room

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_24hr_front_desk", value="ha_24hr_front_desk")
                                    label.form-check-label(for="ha_24hr_front_desk") 24 hr Front Desk

                                .form-check.col-4
                                    input.form-check-input(type="checkbox", name="hotel_amenities", id="ha_casino", value="ha_casino")
                                    label.form-check-label(for="ha_casino") Casino

                    //- Room Data
                    .tab-pane.fade#rooms(role="tabpanel", aria-labelledby="rooms-tab")


                        //- SAMS Room Type
                        .form-group
                            label(for="") #[strong SAMS Room Type]
                            input.form-control(name="", type="text")

                        //- Title
                        .form-group
                            label(for="") #[strong Room Title]
                            input.form-control(name="", type="text")

                        //- Description
                        .form-group
                            label(for="") #[strong Description]
                            textarea.form-control(name="", type="text")

                        //- Images
                        //- .form-group
                        //-     label(for="") #[strong Images]
                        //-     input#.form-control(name="", type="text")

                        //- Occupancy
                        .form-group
                            label(for="") #[strong Occupancy]
                            input.form-control(name="", type="number")

                    //- English Descriptions -->
                    .tab-pane.fade#english(role="tabpanel", aria-labelledby="english-tab")
                        //- Short Description
                        .form-group
                            label(for="short_description") #[strong Short Description]
                            small.form-text
                                em Please use no more than 3 to 5 sentences
                            textarea.form-control#short_description(name="short_description", rows="5")

                        //- Long Description
                        .form-group
                            label(for="long_description") #[strong Long Description]
                            small.form-text
                                em A detailed description about this hotel
                            textarea.form-control#long_description(name="long_description", rows="5")

                        //- Dining
                        .form-group
                            label(for="dining") #[strong Dining]
                            small.form-text
                                em Describe places to dine in and around this hotel
                            textarea.form-control#dining(name="dining", rows="5")

                        //- Entertainment
                        .form-group
                            label(for="entertainment") #[strong Entertainment]
                            small.form-text
                                em Describe places of entertainment in and around this hotel
                            textarea.form-control#entertainment(name="entertainment", rows="5")

                        //- POINTS OF INTEREST
                        .form-group
                            label(for="points_of_interest") #[strong Points of Interest]
                            small.form-text
                                em Describe places of interest in and around this hotel
                            textarea.form-control#points_of_interest(name="points_of_interest", rows="5")

                        //- POLICIES
                        .form-group
                            label(for="policies") #[strong Policies]
                            small.form-text
                                em Hotel specific policies like check-in and check-out times or pet restriction policies
                            textarea.form-control#policies(name="policies", rows="5")

                        //- LOCATION
                        .form-group
                            label(for="location_description") #[strong Location]
                            small.form-text
                                em Describe the location around this hotel
                            textarea.form-control#location_description(name="location_description", rows="5")

                    //- Spanish Descriptions -->
                    .tab-pane.fade#spanish(role="tabpanel", aria-labelledby="spanish-tab")
                        //- Short Description
                        .form-group
                            label(for="short_description_es") #[strong Short Description]
                            small.form-text
                                em Please use no more than 3 to 5 sentences
                            textarea.form-control#short_description_es(name="short_description_es", rows="5")

                        //- Location Description
                        .form-group
                            label(for="long_description_es") #[strong Long Description]
                            small.form-text
                                em A detailed description about this hotel
                            textarea.form-control#long_description_es(name="long_description_es", rows="5")

                        //- Dining
                        .form-group
                            label(for="dining_es") #[strong Dining]
                            small.form-text
                                em Describe places to dine in and around this hotel
                            textarea.form-control#dining_es(name="dining_es", rows="5")

                        //- Entertainment
                        .form-group
                            label(for="entertainment_es") #[strong Entertainment]
                            small.form-text
                                em Describe places of entertainment in and around this hotel
                            textarea.form-control#entertainment_es(name="entertainment_es", rows="5")

                        //- POINTS OF INTEREST
                        .form-group
                            label(for="points_of_interest_es") #[strong Points of Interest]
                            small.form-text
                                em Describe places of interest in and around this hotel
                            textarea.form-control#points_of_interest_es(name="points_of_interest_es", rows="5")

                        //- POLICIES
                        .form-group
                            label(for="policies_es") #[strong Policies]
                            small.form-text
                                em Hotel specific policies like check-in and check-out times or pet restriction policies
                            textarea.form-control#policies_es(name="policies_es", rows="5")

                        //- LOCATION
                        .form-group
                            label(for="location_es") #[strong Location]
                            small.form-text
                                em Describe the location around this hotel
                            textarea.form-control#location_es(name="location_es", rows="5")

                    //- Business Data
                    .tab-pane.fade#business(role="tabpanel", aria-labelledby="business-tab")
                        //- HOTEL AMENITIES
                        .form-group
                            label(for="business_hotel_amenities") #[strong Hotel Amenities]
                            small.form-text #[em Please use only bulleted lists]
                            textarea.form-control#business_hotel_amenities(name="business_hotel_amenities", rows="10")

                        //- ORIGINAL PRICE
                        .form-group
                            .form-group
                            p
                                label(for="original_price") #[strong Original price]
                            small
                                em Amount (to the nearest dollar)
                            .input-group
                                .input-group-prepend
                                    span.input-group-text $
                                input(type="number", step=1, class="form-control", name="original_price")
                                .input-group-append
                                    span.input-group-text .00

                        //- FROM PRICE
                        .form-group
                            .form-group
                            p
                                label(for="from_price") #[strong Resort fee]
                            small
                                em Amount (to the nearest dollar)
                            .input-group
                                .input-group-prepend
                                    span.input-group-text $
                                input(type="number", step=1, class="form-control", name="from_price")
                                .input-group-append
                                    span.input-group-text .00

                        //- RESORT FEE
                        .form-group
                            p
                                label(for="resort_fee") #[strong Resort fee]
                            small
                                em Amount (to the nearest dollar)
                            .input-group
                                .input-group-prepend
                                    span.input-group-text $
                                input(type="number", step=1, class="form-control", name="resort_fee")
                                .input-group-append
                                    span.input-group-text .00

                        //- EXTERNAL HOTEL ID
                        .form-group
                            p
                                label(for="external_hotel_id") #[strong External Hotel ID]
                            input.form-control(name="external_hotel_id", type="text")


            .col-lg-4
                .card.card-primary.publishing-actions
                    .card-header Publish
                    .card-body
                        //- p #[strong Created by:] Chris J. Whitman
                        //- p #[strong Last Modified:] Chris J. Whitman
                        //- p #[strong Published on:] Apr 13, 2018 @ 14:13
                        //- p #[strong Last modified on:] Apr 13, 2018 @ 14:13
                        //- hr
                        div.clearfix
                            //- a.btn.btn-default.float-left(href="#") Move to Trash
                            button.btn.btn-primary.float-right(type="submit") Save Hotel
