extends ../../layout.pug

block panel
    .content-wrapper
        .page-header
            h2.page-title THINGS TO DO #[a.btn.btn-primary(href="/interest/add") Add New]
        .row
            .col
                //- .clearfix
                    //- ul.list-inline.meta-nav(style="margin: 0;")
                    //-     li.list-inline-item #[a.active(href="#") All] (533)
                    //-     li.list-inline-item #[a(href="#") Mine] (533)
                    //-     li.list-inline-item #[a(href="#") Trash] (533)

                    //- .float-right
                    //-     nav(aria-label="Page navigation example")
                    //-         ul.pagination
                    //-             li.page-item #[a.page-link(href="#") Previous]
                    //-             li.page-item.active #[a.page-link(href="#") 1]
                    //-             li.page-item #[a.page-link(href="#") 2]
                    //-             li.page-item #[a.page-link(href="#") 3]
                    //-             li.page-item #[a.page-link(href="#") Next]

                table.table.table-hover.table-striped.metabox
                    thead.thead-dark
                        tr
                            //- th(scope="col", style="width: 5%;") #
                            th(scope="col") Title
                            //- th(scope="col", style="width: 15%;") Author
                            th(scope="col", style="width: 20%;") Last Modified
                    tbody
                        each interest in interests
                            tr
                                //- th(scope="row") #[input(type="checkbox")]
                                td
                                    h5.meta-title #[a(href= "/interest/edit/" + interest.interest_id) #{interest.name}]
                                    .meta-tools
                                        a(href= "/interest/edit/"   + interest.interest_id) Edit
                                        //- a(href= "/interest/view/"   + interest.interest_id) View
                                        a(href= "/interest/delete/" + interest.interest_id) Delete
                                //- td Author Name
                                td #{interest.created}
